.App {
  font-family: sans-serif;
  text-align: center;
}

#root {
  margin: auto;
  width: 600px;
}

.header {
  color: blue;
}

.text-input {
  display: block;
  padding: 1rem;
  margin: 1rem;
  width: 600px;
}

.text-output {
  color: blue;
}

.emoji-list {
  padding: 0.5rem;
  margin: 1rem;
}

.emoji {
  padding: 0.2rem;
  margin: 1rem;
}
